<!doctype html>
<html lang="en" ng-app='ShoppingListApp'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container" ng-controller='ShoppingListController'>
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6">
     <h2>To Buy:</h2>
     <ul>
         <li ng-repeat="item in toBuy">Buy {{item.quantity}} of {{item.name}}(s)
           <button ng-click ="setBuy(item)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
<!--
       <li>Buy 10 cookies <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       <li>Buy 10 cookies <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
-->
     </ul>
     <div class="emptyMessage"> <span ng-if = "toBuy.length<=0" >Everything is bought! </span></div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in alreadyBought">Bought {{item.quantity}} {{item.name}}(s) </li>
     </ul>
     <div class="emptyMessage"><span ng-if ="alreadyBought.length<=0" >Nothing bought yet.</span></div>
    </div>
  </div>
</div>

</body>
</html>
